@import "tailwindcss";

@theme {
  --color-blue: #00AAEE;
  --color-red: #FF595E;
  --color-yellow: #FFCA3A;
  --color-green: #8AC926;
  --color-purple: #6A4C93;
	--bg-default: rgb(255, 251, 244);
	--bg-yellow: rgb(253, 243, 174);
	--bg-blue: rgb(200, 240, 237);
	--font-title: "Gloria Hallelujah", sans-serif;
	--font-base: "Source Sans 3", sans-serif;
}

@layer base {
	html {
		@apply relative;
		scroll-behavior: smooth;
		scroll-padding: 0;
	}

	@media screen and (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	html:after {
		@apply absolute inset-0;

		content:"";
		background-image: url("$lib/assets/light-background.svg");
		background-repeat: repeat;
		opacity: 0.25;
		z-index: -1;
	}

	.stripe {
	  --bg-color: var(--bg-blue);
    height: fit-content;
    position: relative;
	}

	.stripe:before {
			content:"";
			background-color: var(--bg-color);
			position: absolute;
			height: 100%;
			width: 200vw;
			left: -100vw;
			z-index: -2;
	}

	body {
		@apply grid min-h-[100vh] min-h-[100dvh] max-w-[60rem] mx-auto bg-[var(--bg-default)] dark:bg-neutral-950 font-base text-slate-800 dark:text-slate-200;
		
		grid-template:
			"nav" auto
			"content" 1fr
			"pre-footer" auto
			"footer" auto / 1fr;
	}

	header, main {
		scroll-snap-align: start;
	}

	footer {
		scroll-snap-align: end;
	}

	img, picture {
		@apply dark:brightness-75
	}

	nav ul {
		@apply flex flex-wrap justify-center-safe items-center gap-4 my-6 font-title text-xl 
	}

	nav a {
		@apply block text-white px-3 py-2 rounded-xl shadow-md hover:shadow-none hover:scale-95;
		--spacing: .25em;
		text-decoration: none !important;
	}

	a {
		@apply text-sky-900 dark:text-sky-200 underline
	}

	h1 {
		@apply font-title text-4xl font-bold my-4
	}

	h3 {
		@apply font-title text-xl font-bold my-2
	}

	p {
		@apply text-lg mb-2
	}

	button {
		@apply block text-white px-3 py-2 rounded-xl bg-red shadow-md hover:shadow-none hover:scale-95;
	}
}

@layer components {
	#color-bar {
		@apply flex sticky mx-auto bottom-0 z-50 h-1 w-75 md:w-100 my-9 overflow-hidden;
		z-index: 999;
	}
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
	max-width: 75rem;
}